@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --primary: #f9f5f2;
  --primary--green: #6987db;
  --black: #00000;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 30px 30px;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}


.cursor {
  font-weight: 100;
  color: #A1B3A8; 
  animation: blink 1s step-end infinite;
  margin-left: 5px;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}