/* ========== Page ========== */

.home-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #f9f5f2;
  font-family: "Josefin Sans", sans-serif;
}

/* ========== Navigation ========== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.navbar a {
  margin-left: 24px;
  font-size: 18px;
  /* color: #000; */
  text-decoration: none;
}

/* ========== Slogan Section ========== */

.slogan {
  position: absolute;
  left: 194px;
  top: 248px;
  max-width: 500px;
}

.hero h1 {
  font-family: "Abril Fatface", serif;
  font-size: 65px;
  line-height: 88px;
  margin: 0;
}

/* ========== Buttons ========== */

.button-secondary {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 16px;
  background: transparent;
  font-family: "Abril Fatface", serif;
  font-size: 18px;
  cursor: pointer;
}

/* ========== Features Section ========== */

.features-title {
  position: absolute;
  left: 539px;
  top: 1132px;
  font-family: "Abril Fatface", serif;
  font-size: 50px;
  line-height: 67px;
}

/* ========== Feature Bars ========== */

.feature-bars {
  position: absolute;
  top: 960px;
  left: 19.44%;
  display: flex;
  gap: 24px;
}

.feature-bar {
  width: 80px;
  height: 150px;
  background-color: #000;
}

/* ========== Logo ========== */

.logo {
  font-family: "Abril Fatface", serif;
  font-size: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.65);
}

/* ========== Divider Line ========== */

.divider {
  position: absolute;
  top: 63px;
  width: 100%;
  border-top: 2px solid #000;
}
