.NavBar-container {
  display: flex;
  justify-content: space-between; /* LEFT vs RIGHT */
  align-items: center;
  height: 64px;
  padding: 0 32px;
  background-color: var(--primary);
  border-bottom: 2px solid #000;
}

.NavBar-title {
  font-size: 20px;
  font-family: "Abril Fatface", serif;
}

.NavBar-auth-button {
  display: flex;
  align-items: center;
}

.nav-tab {
  background: none;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  cursor: pointer;
  color: #000;
}

.NavBar-right {
  display: flex;
  align-items: center;
  gap: 32px; /* spacing between tabs and auth */
}
