.NavBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 6vh 15px 12vh;
  background-color: #f9f5f2;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 8vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.NavBar-title {
  font-family: "Abril Fatface", serif;
  font-size: 32px;
  font-weight: bold;
  color: #000 !important;
  text-decoration: none !important;
}

.NavBar-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
}

.nav-tab {
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #000 !important;
  text-decoration: none !important;

  padding: 8px 16px;
  border-radius: 8px; 
  margin: 0 0.2vh; 

  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
}

.nav-tab:hover {
  background-color: rgba(161, 179, 168, 0.15);
  color: #1b1919 !important; 
  transform: translateY(-1px); 
}

/* auth section */
.NavBar-auth-button {
  margin-left: 10px;
}

.logout-button {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 6px 30px;
  border-radius: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.logout-button:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(-1px);
}

.nav-tab.active {
  border: 1px solid #000;
  padding: 6px 15px;
  border-radius: 8px;
}

.NavBar-dropdown {
  position: relative;
  display: inline-block;
}

.NavBar-dropdown-title {
  cursor: pointer;
}

.NavBar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.NavBar-dropdown:hover .NavBar-dropdown-content {
  display: block;
}

.NavBar-dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.NavBar-dropdown-item:hover {
  background-color: #a1b3a8;
  border-radius: 8px;
}
